*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Felix Titling;
    background: #49030f;
    line-height: 3;
}
.topo-voltar {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #fbc3dd;
    border-radius: 3.5px;
    box-shadow: 0 4px 8px #0000001a;
}
.topo-voltar:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px #00000033;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
a{
    
    color: #49030f;
    text-decoration: none;
    padding: 5px 10px;
}
header{
    background: #fbc3dd;
    color:#49030f;
    padding: 1rem 0;
    text-align: center;
    font-size: larger;
    margin: 1.5px;
    font-style: italic;
    box-shadow: #fbc3dd;
}
header h1{
    margin-bottom: 0.5rem;
    font-style: normal;
    color: #49030f;
}
ul{
    list-style: none;
}
li{
    color:#fbc3dd;
}
section{
    padding: 1rem;
    margin: 1rem;
    background: #49030f;
    border-radius: 8px;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    background-color: none;
}
h3{
    font-size: 1.5rem;
    color: #e4b2b2;
    align-items: center;
    flex: 1;
    margin-bottom: 1rem;
}
p{
    color: #fbc3dd;
}
.card{
    width: 400px;
    max-width: 50%;
    margin: 0 auto;
    background: #a3566d;
    border-radius: 8px;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 4px 8px rgb(59, 3, 18);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
